[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-snipmate"]
	path = .vim/bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/paredit.vim"]
	path = .vim/bundle/paredit.vim
	url = https://github.com/emezeske/paredit.vim.git
[submodule ".vim/bundle/jellybeans.vim"]
	path = .vim/bundle/jellybeans.vim
	url = git@github.com:pkamenarsky/jellybeans.vim.git
[submodule ".vim/bundle/vim-markdown-preview"]
	path = .vim/bundle/vim-markdown-preview
	url = https://github.com/henrik/vim-markdown-preview
[submodule ".vim/bundle/vimclojure-2"]
	path = .vim/bundle/vimclojure-2
	url = https://github.com/vim-scripts/VimClojure
[submodule ".vim/bundle/vimerl"]
	path = .vim/bundle/vimerl
	url = https://github.com/jimenezrick/vimerl
[submodule ".vim/bundle/yankring"]
	path = .vim/bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim
[submodule ".vim/bundle/atea.vim"]
	path = .vim/bundle/atea.vim
	url = https://github.com/pkamenarsky/atea.vim
[submodule ".vim/bundle/bgcmd"]
	path = .vim/bundle/bgcmd
	url = git@github.com:pkamenarsky/vim-plugin-bgcmd.git
[submodule ".vim/bundle/vim-haskellConceal"]
	path = .vim/bundle/vim-haskellConceal
	url = https://github.com/Twinside/vim-haskellConceal.git
[submodule ".vim/bundle/vim-hoogle"]
	path = .vim/bundle/vim-hoogle
	url = https://github.com/Twinside/vim-hoogle.git
[submodule ".vim/bundle/vim-translator"]
	path = .vim/bundle/vim-translator
	url = https://github.com/maksimr/vim-translator.git
[submodule ".vim/bundle/vim-javascript"]
	path = .vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/html-template-syntax"]
	path = .vim/bundle/html-template-syntax
	url = https://github.com/pbrisbin/html-template-syntax.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-latex-live-preview"]
	path = .vim/bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
[submodule "/Users/phil/.vim/bundle/vimproc.vim"]
	path = /Users/phil/.vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/ghcmod-vim"]
	path = .vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim.git
[submodule ".vim/bundle/neco-ghc"]
	path = .vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/grep.vim"]
	path = .vim/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim.git
[submodule ".vim/bundle/vim-hdevtools"]
	path = .vim/bundle/vim-hdevtools
	url = https://github.com/bitc/vim-hdevtools.git
