*
!.gitignore

!.profile

!.vimrc
!.vim

!.pentadactylrc

!bin
!bin/*
bin/.DS_Store

!makeapp.sh
!get-shit-done

!Library/
!Library/Application Support/
!Library/Application Support/Quicksilver/

!Library/Preferences/

