snippet ns
	(ns ${1:namespace}
		(:require [${2:module} :as ${3:alias}]))

snippet defn
	(defn ${1:fname} [${2:args}]
		${3})

snippet let
	(let [${1:vars}]
		${2})

snippet println
	(println ${1:text})

snippet map
	(map ${1:fn} ${2:coll})

snippet reduce
	(reduce ${1:fn} ${2:value} ${3:coll})

snippet ---
	; --------------------------------------------------------------------------

